<div class="jumbotron">
  <h1>Welcome to Barista-matic</h1>
  <p class="lead">
    <img src="images/coffee.png" class="logo" alt="Barista-batic"><br>
    Please choose your drink below.
  </p>
</div>

<div class="row marketing">
  <h4 style="text-align: center;">Our Menu</h4>
  <p style="text-align: center;">
    Please choose and option below to see the price of each item.
  </p>
  <div class="container-fluid" style="margin-left: auto; margin-right: auto;">
    <div class="col-md-4">
      <h5>Coffees</h5>
      <a class="btn btn-lg btn-success" ng-href="#/">Coffee</a>
      <a class="btn btn-lg btn-success" ng-href="#/">Decaf</a>
    </div>
    <div class="col-md-8">
      <h5>Specialty Drinks</h5>
      <a class="btn btn-lg btn-primary" ng-href="#/">Latte</a>
      <a class="btn btn-lg btn-primary" ng-href="#/">Americano</a>
      <a class="btn btn-lg btn-primary" ng-href="#/">Mocha</a>
      <a class="btn btn-lg btn-primary" ng-href="#/">Cappuccino</a>
    </div>
  </div>

</div>
